{
    "env": {
        "test": {
            presets: [ 'latest' ],
            plugins: [ '__coverage__', 'transform-flow-strip-types' ]
        },
        "dev": {
            presets: [ 'latest' ],
            plugins: [ 'transform-flow-strip-types' ]
        }
    }
}
